node_modules/
/draft.js
.env

// Link to stackoverflow that explain how to add typescript into momgoose methods ans statics.
https://stackoverflow.com/questions/42448372/typescript-mongoose-static-model-method-property-does-not-exist-on-type/45675548#45675548